@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url(/fonts/Inter.woff2) format('woff2');
}

:root {
  --font-sans: 'Inter';
}

@layer base {
  html {
    scrollbar-width: thin;
    scrollbar-color: #fff4 #151515;
  }

  body {
    @apply h-dvh overflow-x-hidden font-sans antialiased;
    -webkit-tap-highlight-color: transparent;
  }
}
